<section class="slideshow">
  <button class="slideshow__btn slideshow__btn--left"
    >
    &#10094;
  </button>
  <section class="info-wrapper">
    <article class="info">
      <p class="info__title"></p>
      <ul class="info-list">
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
        <li class="info-list__obj">
          <span class="info-list__title"></span>
          <span class="info-list__value"></span>
        </li>
      </ul>
    </article>
  </section>
  <button class="slideshow__btn slideshow__btn--right"
    >
    &#10095;
  </button>
</section>
