$sw_yellow: var(--sw_yellow);
$sw_black: var(--sw_black);

$font_white: var(--font_white);
$font_yellow: var(--font_yellow);
$font_black: var(--font_black);

$bg_white: var(--bg_white);
$bg_grey: var(--bg_grey);
$bg_black: var(--bg_black);
