<div class="wrapper">
<header class="header">
  <h1 class="header__title">Star Wars AngularPI</h1>
  <h2 class="header__name">// Made By Bl4ky</h2>
</header>
<main class="main">
  <section class="intro">
    <h3 class="intro__title">What is this Project?</h3>
    <p class="intro__text">
        This is a Single Page Aplication With Routing on Angular Implementation which uses the Star Wars API (SWAPI),
        developed and mantained by <a class="intro__link" href="https://github.com/Juriy/swapi">Juriy Bura</a>.
        SWAPI is a Project Forked from <a class="intro__link" href="https://github.com/phalt/swapi">Paul Hallett</a>.
    </p>
  </section>
  <nav class="nav">
    <a class="nav__link"
      routerLink="/planets"
      routerLinkActive="nav__link--active"
      >
      Galaxy's Planets
    </a>
    <a class="nav__link"
      [routerLink]="['/residents', 1]"
      routerLinkActive="nav__link--active"
      >
      Planet's Residents
    </a>
    <a class="nav__link"
      [routerLink]="['/vehicles', 1]"
      routerLinkActive="nav__link--active"
      >
      Resident's Vehicles
    </a>
  </nav>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-content">
  </div>
  <div class="copyright">
    <p class="copyright__title">Copyright. ©</p>
    <p class="copyright__text">
      Star Wars and all Assosiated Names are Copyright(©) LucasFilm ldt.
    </p>
    <p class="copyright__text">
      SWAPI is Open Source and Carries a BSD Licence.
    </p>
    <p class="copyright__text">
      Star Wars AngularPI is Open Source and Carries a GPL GNU 2.0 Licence.
    </p>
  </div>
</footer>
</div>
